<tr>
  <td class="col-md-2"><%= link_to book.title, admin_book_path(book) %></td>
  <td class="col-md-2"><%= book.description %></td>
  <td class="col-md-1"><%= image_tag book.image, class: "img-book" %></td>
  <td class="col-md-1"><%= book.price %></td>
  <td class="col-md-1"><%= book.status %></td>
  <td class="col-md-1"><%= book.rate_point %></td>
  <td class="col-md-1"><%= book.view_count %></td>
  <td class="col-md-1"><%= book.quantity %></td>
  <td class="col-md-1"><%= book.pages %></td>
  <td class="col-md-1"><%= book.publish_date %></td>
  <td class="col-md-1"><%= l book.created_at, format: :default %></td>
  <td class="col-md-1"><%= l book.updated_at, format: :default %></td>
  <td class="col-md-1">
  <%= link_to t("admin.book.action.edit"), edit_admin_book_path(book),
    id: "open-contacts-dialog-btn", class: "btn btn-primary inbox-sf-add-btn tip"%>
  <br>
  <br>
  <%= link_to t("admin.book.action.delete"), admin_book_url(book),
    id: "open-contacts-dialog-btn", class: "btn btn-primary inbox-sf-add-btn tip",
    method: :delete, data: {confirm: t("admin.index.confirm")} %>
  </td>
</tr>
