<tr>
  <td class="col-md-2"><%= book.title %></td>
  <td class="col-md-2"><%= book.description %></td>
  <td class="col-md-1"><%= book.image %></td>
  <td class="col-md-1"><%= book.price %></td>
  <td class="col-md-1"><%= book.status %></td>
  <td class="col-md-1"><%= book.rate_point %></td>
  <td class="col-md-1"><%= book.view_count %></td>
  <td class="col-md-1"><%= book.quantity %></td>
  <td class="col-md-1"><%= book.pages %></td>
  <td class="col-md-1"><%= book.publish_date %></td>
  <td class="col-md-1"><%= l book.created_at, format: :default %></td>
  <td class="col-md-1"><%= l book.updated_at, format: :default %></td>
</tr>
