<div class="ltt-books-index-header">
  <h1 class="col-md-2"><%= t "admin.book.all" %></h1>
  <div class="row col-md-10">
    <div class="col-md-6 ltt-books-search">
      <%= form_tag admin_books_path, method: :get, remote: true do %>
        <%= select_tag :category,
          options_for_select(@supports.list_categories),
          class: "form-control books-search-select" %>
        <%= text_field_tag :content, "", placeholder: t("admin.search"),
          class: "form-control books-search-input", value: nil %>
        <%= submit_tag t("admin.search"), class: "btn btn-primary" %>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="row">
<table class="table table-bordered table table-striped">
  <thead>
    <tr>
      <th class="col-md-2"><%= t "admin.book.title" %></th>
      <th class="col-md-2"><%= t "admin.book.description" %></th>
      <th class="col-md-1"><%= t "admin.book.image" %></th>
      <th class="col-md-1"><%= t "admin.book.price" %></th>
      <th class="col-md-1"><%= t "admin.book.status" %></th>
      <th class="col-md-1"><%= t "admin.book.rate_point" %></th>
      <th class="col-md-1"><%= t "admin.book.view_count" %></th>
      <th class="col-md-1"><%= t "admin.book.quantity" %></th>
      <th class="col-md-1"><%= t "admin.book.pages" %></th>
      <th class="col-md-1"><%= t "admin.book.publish_date" %></th>
      <th class="col-md-1"><%= t "admin.book.created_at" %></th>
      <th class="col-md-1"><%= t "admin.book.updated_at" %></th>
      <th class="col-md-1"><%= t "admin.book.action.title" %></th>
    </tr>
  </thead>
  <tbody class="ltt-books-content">
    <%= render @books %>
  </tbody>
</table>
<div class="ltt-users-navbar pull-right">
  <%= link_to t("admin.book.add_book"), new_admin_book_path, id: "open-contacts-dialog-btn",
    class: "btn btn-primary inbox-sf-add-btn tip" %>
</div>
