<%= form_for [:admin, author] do |f| %>
  <%= render "shared/error_messages", object: @author %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :body %>
  <%= f.text_field :body, class: "form-control" %>

  <%= f.label :date_of_birth %>
  <%= f.date_field :date_of_birth, class: "form-control datepicker" %>
  <br>
  <span class="image">
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <br>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
