<header class="navbar navbar-fixed-top navbar-inverse ltt-header">
  <div class="container">
    <%= link_to t("site.name"), admin_root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to t("admin.users"), admin_users_path %>
      </li>

      <li>
        <%= link_to t("admin.category"), "#" %>
      </li>

      <li>
        <%= link_to t("admin.book.name"), admin_books_path %>
      </li>

      <li>
        <%= link_to t("admin.author.title"), admin_authors_path %>
      </li>

      <li>
        <%= link_to t("admin.publisher.title"), admin_publishers_path %>
      </li>

      <li>
        <%= link_to t("admin.request"), "#" %>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t("navbar.logout"), logout_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
