<% @users.each do |user| %>
  <tr>
    <td class="col-md-2"><%= user.name %></td>
    <td class="col-md-2"><%= user.email %></td>
    <td class="col-md-1"><%= user.permission %></td>
    <td class="col-md-1"><%= l user.created_at, format: :default %></td>
    <td class="col-md-1"><%= l user.updated_at, format: :default %></td>
    <td class="col-md-1">
      <%= link_to t("admin.user.action.edit"), edit_admin_user_path(user),
        id: "open-contacts-dialog-btn", class: "btn btn-primary inbox-sf-add-btn tip"%>
      <%= link_to t("admin.user.action.delete"), admin_user_url(user),
        id: "open-contacts-dialog-btn", class: "btn btn-danger inbox-sf-add-btn tip",
        method: :delete, data: {confirm: t("admin.index.confirm")} %>
    </td>
  </tr>
<% end %>
